<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>capstone</title>
		<head>

		</head>

		<body>
			<div>
			<form id='inputs' method='post' action='index' >
				<p>Ticker: <input type='text' name='ticker' {%if ticker %}value='{{ticker}}'{% endif %}/></p>
				<input type='checkbox' name='Close' value='Close'/> Closing price<br>
				<input type='checkbox' name='Open' value='Open'/> Opening price<br>
					<input type='checkbox' name='High' value='High'/> High<br>
					<input type='checkbox' name='Low' value='Low'/> Low<br>
					<input type='checkbox' name='Adj. Close' value='Adj. Close'/> Adjusted closing price<br>
					<input type='checkbox' name='Adj. Open' value='Adj. Open'/> Adjusted opening price<br>
				<p><input type='submit' value='Submit' /></p>
			</form>
			</div>

		</body>
	</html>
	